Resources:
  AWSEBVPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: 172.31.0.0/16
      EnableDnsSupport: 'true'
      EnableDnsHostnames: 'true'

option_settings:
  aws:ec2:vpc:
    VPCId: vpc-0dafc7433578b8c1d
    Subnets: subnet-072acce5de16460f3,subnet-065d56d6cb22dd89
    ELBSubnets: subnet-072acce5de16460f3,subnet-065d56d6cb22dd89
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
